[submodule "guld-api"]
	path = src/guld-api
	url = https://guld.io/repos/guld-api.git
[submodule "guld-cas"]
	path = src/guld-cas
	url = https://guld.io/repos/guld-cas.git
[submodule "guld-client"]
	path = src/guld-client
	url = https://guld.io/repos/guld-client.git
[submodule "guld-consensus"]
	path = src/guld-consensus
	url = https://guld.io/repos/guld-consensus.git
[submodule "guld-crypto"]
	path = src/guld-crypto
	url = https://guld.io/repos/guld-crypto.git
[submodule "guld-extension"]
	path = src/guld-extension
	url = https://guld.io/repos/guld-extension.git
[submodule "guld-js"]
	path = src/guld-js
	url = https://guld.io/repos/guld-js.git
[submodule "guld-legacy"]
	path = src/guld-legacy
	url = https://guld.io/repos/guld-legacy.git
[submodule "guld-node"]
	path = src/guld-node
	url = https://guld.io/repos/guld-node.git
[submodule "guld-state"]
	path = src/guld-state
	url = https://guld.io/repos/guld-state.git
[submodule "guld-types"]
	path = src/guld-types
	url = https://guld.io/repos/guld-types.git
[submodule "guld-wallet"]
	path = src/guld-wallet
	url = https://guld.io/repos/guld-wallet.git
